<!-- ------------------------------------------------ Welcome Section ------------------------------------------------ -->

<section class="Welcome" id="mission">
    <img
        src="assets/layout/images/GestionRobex/Slogan-img.jpg"
        alt="start-img"
        class="start-img"
    />

    <h1 class="test text-900 font-bold text-8xl mb-4 text-center">
        Des aménagements solides, un service d’exception, pour des espaces
        durables
    </h1>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ About Section ------------------------------------------------ -->

<section class="about">
    <div class="grid grid-nogutter surface-section text-800">
        <div
            class="mobile-padding col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
        >
            <section>
                <h3 class="block text-6xl font-bold mb-1">
                    À propos de
                    <span class="text-6xl text-primary font-bold">nous</span>
                </h3>

                <p class="mt-0 mb-4 text-700 line-height-3">
                    Gestion Robex Inc est une entreprise fondée par 2 jeunes
                    entrepreneurs dynamiques, qui sont réunis par un objectif
                    commun : votre satisfaction. Œuvrant dans la région du Grand
                    Montréal, nous offrons plusieurs services se divisant en 2
                    grandes catégories: l’aménagement paysager et les abris
                    temporaires.
                </p>
                <p class="mt-0 mb-4 text-700 line-height-3">
                    Cumulant plus de 7 ans d’expérience au niveau résidentiel,
                    commercial et municipal , nous sommes outillés pour répondre
                    à tous vos projets. De la conception complète d’un
                    aménagement paysager à la simple restauration de ce dernier,
                    aucun détail ne sera laissé au hasard. Notre devise est bien
                    simple: Des aménagements solides, un service d’exception,
                    pour des espaces durables.
                </p>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden">
            <img
                src="assets/layout/images/test2.jpg"
                alt="Image"
                class="md:ml-auto block heightIMG"
            />
        </div>
    </div>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ Pourquoi Section ------------------------------------------------ -->
<section class="Why-us px-4 py-8 md:px-6">
    <app-timelinedemocomponent></app-timelinedemocomponent>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ Details Section ------------------------------------------------ -->

<section class="Service">
    <div class="surface-ground px-4 md:px-6 text-center">
        <div class="mb-3 font-bold text-5xl">
            <span class="text-900">Nos </span>
            <span class="text-primary-500">services</span>
        </div>
        <div class="grid container-info">
            <div class="col-12 lg:col-6">
                <a routerLink="amenagement" class="service-item">
                    <img
                        src="assets/layout/images/GestionRobex/Amenagement-img.JPG"
                        alt="Aménagement image"
                        class="service-image"
                    />
                    <div class="service-title-background">
                        <h2 class="title-section">Aménagement</h2>
                    </div>
                </a>
            </div>

            <div class="col-12 lg:col-6">
                <a routerLink="abris" class="service-item">
                    <img
                        src="assets/layout/images/GestionRobex/Abris-img.JPG"
                        alt="Abris image"
                        class="service-image"
                    />
                    <div class="service-title-background">
                        <h2 class="title-section">Abris</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->

<!-- ------------------------------------------------ 6 Étape Section ------------------------------------------------ -->

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-5xl">
        <span class="text-900">Les étapes pour concrétiser </span>
        <span class="text-primary-500">votre espace de rêve</span>
    </div>

    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-desktop text-4xl text-yellow-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Demande de soumission
            </div>
            <span class="text-700 line-height-3"
                >Contactez-nous afin de nous faire part de votre projet.
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-lock text-4xl text-yellow-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Rencontre primaire
            </div>
            <span class="text-700 line-height-3"
                >Première rencontre afin de prendre connaissance de vos idées et
                besoins.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-check-circle text-4xl text-yellow-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Création d’un plan et d’une soumission
            </div>
            <span class="text-700 line-height-3"
                >Selon l’ampleur du projet, un membre de notre équipe ou un
                designer paysagiste s'affaire à concevoir un plan personnalisé
                ainsi qu’une soumission détaillée du projet.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-globe text-4xl text-yellow-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Rencontre secondaire
            </div>
            <span class="text-700 line-height-3"
                >Deuxième rencontre ayant pour but de bien vous expliquez le
                projet et répondre à toutes vos interrogations.</span
            >
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-github text-4xl text-yellow-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Acceptation finale
            </div>
            <span class="text-700 line-height-3"
                >Dernière étape avant la création, nous signons le contrat de
                travail et statuons sur la date de début des travaux.
            </span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px"
            >
                <i class="pi pi-shield text-4xl text-yellow-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">
                Réalisation du projet
            </div>
            <span class="text-700 line-height-3"
                >L’étape tant attendue arrive enfin, notre équipe dévoué
                procédera à la conception de votre espace unique de
                qualité/durable/esthétique.</span
            >
        </div>
    </div>
</div>

<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->
