.heightIMG {
    height: 45rem;
}

.about {
    margin: 3rem;
}
.surface-ground {
    padding: 2rem 1rem;

    .card {
        padding: 2rem;

        h5 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .p-fluid {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem; // Espacement entre les éléments
        }

        .field {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                font-size: 1rem;
                font-weight: 500;
            }

            input,
            textarea {
                padding: 0.75rem;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 1rem;
            }

            &.col-12 {
                width: 100%;
            }

            &.md\:col-6 {
                width: 48%; // Pour les grands écrans
            }

            &.md\:col-3 {
                width: 23%; // Pour les petits champs
            }

            .p-inputTextarea {
                resize: vertical;
                min-height: 120px;
            }
        }
    }
}

// Welcome section container
.Welcome {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    height: 100vh; /* Makes the section take full viewport height */

    // The image inside the Welcome section
    .start-img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensures the image covers the entire area without distortion
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; // Ensures the image stays behind the content
    }

    h1 {
        text-align: center; /* Centers text horizontally within the elements */
        margin: 0; /* Removes any default margin */
    }

    p {
        text-align: center; /* Centers text horizontally within the elements */
        margin: 0; /* Removes any default margin */
    }
}

.conainer-info-title {
    display: flex;

    .title {
        width: 50%;
        margin: 10px;
        font-weight: bold;
    }
}

.container-info {
    h5 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .what-we-do {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        p {
            width: 35rem;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1024px) and (min-width: 600px) {
    .heightIMG {
        height: 45rem;
    }
}

@media (max-width: 600px) {
    .heightIMG {
        height: 30rem;
    }
    .Welcome {
        .start-content {
            h1 {
                font-size: 2em; // Adjust title font size for small screens
            }

            p {
                font-size: 1.2em; // Adjust phrase font size for small screens
            }
        }
    }
}
