<section class="Welcome" id="mission">
    <img
        src="assets/layout/images/test2.jpg"
        alt="start-img"
        class="start-img"
    />
    <div class="black-background">
        <h1 class="text-900 font-bold text-8xl text-center">
            Parlons de votre projet
        </h1>
    </div>
</section>

<!-- ------------------------------------------------ Form Section ------------------------------------------------ -->
<section class="form">
    <app-formlayoutdemo id="contact"></app-formlayoutdemo>
</section>
<!-- ------------------------------------------------ --------------- ------------------------------------------------ -->
