<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img
            class="Logo"
            src="assets/layout/images/Logo-Gestion-Robex-v4.png"
            alt="Logo"
        />
    </a>

    <!-- Menu Desktop -->
    <div
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <div class="btn-group">
            <div class="layout-topbar-menu-content">
                <a routerLink="/" type="button" class="layout-topbar-action"
                    >À Propos</a
                >
                <a
                    routerLink="amenagement"
                    type="button"
                    class="layout-topbar-action"
                    >Aménagement Paysager</a
                >
                <a routerLink="abris" type="button" class="layout-topbar-action"
                    >Abris Temporaire</a
                >
                <a
                    routerLink="contact"
                    type="button"
                    class="layout-topbar-action"
                >
                    <i class="pi pi-phone text-primary-500"></i> Contact
                </a>
            </div>
        </div>
    </div>

    <!-- Menu Mobile (Hamburger) -->
    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button layout-topbar-mobile-button"
        (click)="toggleSidebar()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <p-sidebar
        [(visible)]="sidebarVisible"
        position="left"
        [baseZIndex]="10000"
        [fullScreen]="true"
    >
        <div class="layout-topbar-menu-content">
            <a routerLink="/" class="layout-topbar-action">À Propos</a>
            <a routerLink="amenagement" class="layout-topbar-action"
                >Aménagement Paysager</a
            >
            <a routerLink="abris" class="layout-topbar-action"
                >Abris Temporaire</a
            >
            <a routerLink="contact" class="layout-topbar-action">
                <i class="pi pi-phone text-primary-500"></i> Contact
            </a>
        </div>
    </p-sidebar>
</div>
