<div class="layout-footer">
    <footer>
        <h1 class="footer-title">Suivez- nous sur les médias sociaux</h1>
        <div class="icons-group">
            <a href="https://www.instagram.com" target="_blank"
                ><i class="pi pi-instagram" style="font-size: 2rem"></i
            ></a>
            <a href="https://www.facebook.com" target="_blank"
                ><i class="pi pi-facebook" style="font-size: 2rem"></i
            ></a>
            <a href="https://x.com" target="_blank"
                ><i class="pi pi-twitter" style="font-size: 2rem"></i
            ></a>
        </div>
        <img
            height="80.5rem"
            class="mr-2"
            src="assets/layout/images/LogoSVG.svg"
            alt="Logo"
        />
    </footer>
</div>
